<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>Eduardo Casas | {% if tag != null %}{{ tag.name }}{% endif %} Rss</title>
        <link>http://{{ app.request.host }}</link>
        <description>Eduardo Casas, {{'web_developer'|trans}}. {{'rss.description'|trans}}</description>
        <pubDate>{{ "now"|date('r') }}</pubDate>
        <atom:link href=".xml" rel="self" type="application/rss+xml" />
        <language>{{'rss.language'|trans}}</language>
        {% for item in articles %}
            <item>
                <title>{{ item.title }}</title>
                <description>
                    Tags: 
                {% for tag in item.tags %}
                    &lt;a href="{{ url('ecl_blog_homepage', { tag_slug: tag.slug } ) }}"&gt;{{ tag.name }}&lt;/a&gt;
                {% endfor %}
                    &lt;br&gt;&lt;br&gt;
                    {{ item.summary }}
                    &lt;br&gt;&lt;br&gt;
                    {% if item.thumbnail is not empty %}
                        <![CDATA[<br><br><img src="{{ item.thumbnail }}" alt="{{ item.thumbnailAlt }}">]]>
                    {% endif %}                               
                </description>
                <pubDate>{{ item.date|date('r') }}</pubDate>
                <link>{{ url('ecl_blog_article', { date: item.date|date('d-m-Y'), slug: item.slug } ) }}</link>
                <guid>{{ url('ecl_blog_article', { date: item.date|date('d-m-Y'), slug: item.slug } ) }}</guid>
            </item>
        {% endfor %}
    </channel>
</rss>