<sidebar id="default_sidebar_wrapper">
    <img src="{{asset('bundles/ecldefault/images/profile/main.jpg')}}" alt="{{ 'web_developer' | trans }} Eduardo Casas" width="216" height="216">
    <ul id="my_social">
        <li><a target="_blank" href="https://github.com/eduardocasas" id="my_github"></a></li>
        <li><a target="_blank" href="https://plus.google.com/u/0/+EduardoCasasLopez/" id="my_gplus"></a></li>
        <li><a target="_blank" href="https://twitter.com/eduardo_casas" id="my_twitter"></a></li>
        <li><a target="_blank" href="http://es.linkedin.com/in/ecasas" id="my_linkedin"></a></li>
        <li><a target="_blank" href="{% if blog_tag_selected is defined %}{{ url('ecl_blog_rss', { 'tag_slug' : blog_tag_selected}) }}{% else %}{{ url('ecl_blog_rss') }}{% endif %}" id="my_rss"></a></li>
    </ul>
    {% if app.environment == 'prod' %}
        {% set params = app.request.requesturi |split('/') %}
        {% set slug, locale = params[2], params[1] %}
    {% else %}
        {% set params = app.request.requesturi | replace({ (app.request.getBaseURL()): '' }) |split('/') %}
        {% set slug, locale = params[2], params[1] %}
    {% endif %}
    <nav id="nav">
        <ul id="language_list">
            <li>
                {% if params[1] == 'es' and status_code is not defined  %}
                    <strong>es</strong>
                {% else %}
                    <a href="{{app.request.uri | replace({'/en/': '/es/'}) }}">es</a>
                {% endif %}
            </li>
            <li>
                {% if locale == 'en' and status_code is not defined  %}
                    <strong>en</strong>
                {% else %}
                    <a href="{{app.request.uri | replace({'/es/': '/en/'}) }}">en</a>
                {% endif %}
            </li>
        </ul>
        <ul id="site_list">
            <li id="home_nav">
                {% if slug == '' and status_code is not defined %}
                    <h2>{{ 'section.home.link'|trans }}</h2>
                {% else %}
                    <a href="{{ url('ecl_home_homepage') }}">{{ 'section.home.link'|trans }}</a>
                {% endif %}
            </li>
            <li id="curriculum_nav">
                {% if slug == 'section.curriculum.slug'|trans %}
                    <h2>{{ 'section.curriculum.link'|trans }}</h2>
                {% else %}
                    <a href="{% if locale == 'en' %}{{ url('ecl_curriculum_homepage_en') }}{% else %}{{ url('ecl_curriculum_homepage_es') }}{% endif %}">{{ 'section.curriculum.link'|trans }}</a>
                {% endif %}
            </li>
            <li id="project_nav">
                {% if slug == 'section.project.slug'|trans %}
                    <h2>{{ 'section.project.link'|trans }}</h2>
                {% else %}
                    <a href="{% if locale == 'en' %}{{ url('ecl_project_homepage_en') }}{% else %}{{ url('ecl_project_homepage_es') }}{% endif %}">{{ 'section.project.link'|trans }}</a>
                {% endif %}
            </li>
            <li id="contact_nav">
                {% if slug == 'section.contact.slug'|trans and status_code is not defined  %}
                    <h2>{{ 'section.contact.link'|trans }}</h2>
                {% else %}
                    <a href="{% if locale == 'en' %}{{ url('ecl_contact_homepage_en') }}{% else %}{{ url('ecl_contact_homepage_es') }}{% endif %}">{{ 'section.contact.link'|trans }}</a>
                {% endif %}
            </li>
            <li id="blog_nav">
            {% if (blog_tag_selected is not defined or blog_tag_selected == null) and article is not defined and (slug == 'section.blog.slug'|trans and status_code is not defined) %}
                <h2>{{ 'section.blog.link'|trans }}</h2>
            {% else %}
                <a href="{{ url('ecl_blog_homepage', { _locale: app.request.locale } ) }}">{{ 'section.blog.link'|trans }}</a>
            {% endif %}
            </li>
        </ul>
    {% render(controller("ECLBlogBundle:Boilerplate:tagCollection", { 'blog_tag_selected' : blog_tag_selected is defined ? blog_tag_selected : null } ))  %}
    </nav>
</sidebar>