{% extends "ECLDefaultBundle::pc/base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('bundles/eclhome/css/pc/main.css')}}">
{% endblock %}
{% block main %}
<article id="main_article_wrapper">
    <h1 id="title">{{ 'about.title'|trans }}</h1>
{% if app.request.locale == 'en' %}
    {% set curriculum_url, contact_url, projects_url, change_language_url = url('ecl_curriculum_homepage_en'), url('ecl_contact_homepage_en'), url('ecl_project_homepage_en'), url('ecl_home_homepage', { _locale: 'es' }) %}
{% else %}
    {% set curriculum_url, contact_url, projects_url, change_language_url = url('ecl_curriculum_homepage_es'), url('ecl_contact_homepage_es'), url('ecl_project_homepage_es'), url('ecl_home_homepage', { _locale: 'en' }) %}
{% endif %}
    <p>{{ 'about.text_1'|trans|raw }}</p>
    <p>{{ 'about.text_2'|trans|raw }}</p>
    <p>{{ 'about.text_3'|trans|raw }}</p>
    <p>{{ 'about.text_4'|trans|raw }}</p>
    <p>{{ 'about.text_5'|trans|raw }}</p>
    <p>{{ 'about.text_6'|trans({'%curriculum_url%': curriculum_url, '%contact_url%': contact_url, '%projects_url%': projects_url, '%blog_url%': url('ecl_blog_homepage', { _locale: app.request.locale })})|raw }}</p>
    <p>{{ 'about.text_7'|trans({'%github_url%':'https://github.com/eduardocasas', '%google_url%': 'https://plus.google.com/u/0/+EduardoCasasLopez/', '%twitter_url%': 'https://twitter.com/eduardo_casas', '%linkedin_url%': 'http://es.linkedin.com/in/ecasas' })|raw }}</p>
    <p>{{ 'about.text_8'|trans|raw }}</p>
    <p><em>{{ 'about.text_9'|trans({'%change_language_url%': change_language_url})|raw }}</em></p>
</article>
{% endblock %}