{% extends "base.html.twig" %}
{% block title %}{{ parent() }} | {{ 'section.curriculum.title' | trans }}{% endblock %}
{% block description %}{{ parent() }} {{ 'curriculum.description' | trans }}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/ecl/css/curriculum/index.css') }}">
{% endblock %}
{% block main %}
<article id="main_article_wrapper">
    <h1 id="title">{{ 'curriculum.title'|trans }}</h1>
    <h2 id="title">{{ 'curriculum.section_1.title'|trans }}</h2>
    <ul>
        <li>{{ 'curriculum.section_1.text_1'|trans|raw }}</li>
        <li>{{ 'curriculum.section_1.text_2'|trans|raw }}</li>
        <li>{{ 'curriculum.section_1.text_3'|trans|raw }}</li>
        <li>{{ 'curriculum.section_1.text_4'|trans|raw }}</li>
    </ul>
    <h2 id="title">{{ 'curriculum.section_2.title'|trans }}</h2>
    <h3 id="title">{{ 'curriculum.section_2.subsection_1.title'|trans }}</h3>
    <ul>
        <li>{{ 'curriculum.section_2.subsection_1.text_1'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_1.text_2'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_1.text_3'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_1.text_4'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_1.text_5'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_1.text_6'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_1.text_7'|trans|raw }}</li>
    </ul>
    <h3 id="title">{{ 'curriculum.section_2.subsection_2.title'|trans }}</h3>
    <ul>
        <li>{{ 'curriculum.section_2.subsection_2.text_1'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_2.text_2'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_2.text_3'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_2.text_4'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_2.text_5'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_2.text_6'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_2.text_7'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_2.text_8'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_2.text_9'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_2.text_10'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_2.text_11'|trans|raw }}</li>
    </ul>
    <h3 id="title">{{ 'curriculum.section_2.subsection_3.title'|trans }}</h3>
    <ul>
        <li>{{ 'curriculum.section_2.subsection_3.text_1'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_3.text_2'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_3.text_3'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_3.text_4'|trans|raw }}</li>
    </ul>    
    <h3 id="title">{{ 'curriculum.section_2.subsection_4.title'|trans }}</h3>
    <ul>
        <li>{{ 'curriculum.section_2.subsection_4.text_1'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_4.text_2'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_4.text_3'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_4.text_4'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_4.text_5'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_4.text_6'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_4.text_7'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_4.text_8'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_4.text_9'|trans|raw }}</li>
    </ul>
    <h3 id="title">{{ 'curriculum.section_2.subsection_5.title'|trans }}</h3>
    <ul>
        <li>{{ 'curriculum.section_2.subsection_5.text_1'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_5.text_2'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_5.text_3'|trans|raw }}</li>
        <li>{{ 'curriculum.section_2.subsection_5.text_4'|trans|raw }}</li>
    </ul>
    <h2 id="title">{{ 'curriculum.section_3.title'|trans }}</h2>
    <h3 id="title">{{ 'curriculum.section_3.subtitle_1'|trans }}</h3>
    <ul>
        <li>{{ 'curriculum.section_3.text_1'|trans|raw }}</li>
        <li>{{ 'curriculum.section_3.text_2'|trans|raw }}</li>
        <li>{{ 'curriculum.section_3.text_3'|trans|raw }}</li>
    </ul>
    <h3 id="title">{{ 'curriculum.section_3.subtitle_2'|trans }}</h3>
    <ul>
        <li>{{ 'curriculum.section_3.text_4'|trans|raw }}</li>
    </ul>
    <h2 id="title">{{ 'curriculum.section_4.title'|trans }}</h2>
    <ul>
        <li>{{ 'curriculum.section_4.text_1'|trans|raw }}</li>
        <li>{{ 'curriculum.section_4.text_2'|trans|raw }}</li>
    </ul>
    <h2 id="title">{{ 'curriculum.section_5.title'|trans }}</h2>
    <ul>
        <li>{{ 'curriculum.section_5.text_1'|trans|raw }}</li>
        <li>{{ 'curriculum.section_5.text_2'|trans|raw }}</li>
    </ul>
</article>
{% endblock %}