{% extends "backoffice/base.html.twig" %}
{% block title %}{{ parent() }} | Backoffice | Tags{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/ecl/css/backoffice/tag.css') }}">
{% endblock %}
{% block backoffice_main %}
<article id="main_article_wrapper">
    <a href="{{ url('blog_backoffice_tag_create') }}" class="button" id="create_tag_button">Crear</a>
    <h1 id="title">Tags</h1>
    <table id="tag_list">
        <thead>
            <tr>
                <th class="delete_field"></th>
                <th class="edit_field"></th>
                <th class="name_field">Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for item in tags %}
            <tr>
                <td class="delete_field"><a href="{{ path('blog_backoffice_tag_delete', { 'id': item.id }) }}" title="borrar"></a></td>
                <td class="edit_field"><a href="{{ path('blog_backoffice_tag_edit', { 'id': item.id }) }}" title="editar"></a></td>
                <td class="name_field">{{ item.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
{% endblock %}