<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Eduardo Casas | {{ 'web_developer' | trans }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ 'main_description' | trans }}{% endblock %}">
    {% block locale %}
        {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
        <link rel="alternate" hreflang="es" href="{{ app.request.getSchemeAndHttpHost()~path(app.request.attributes.get('_route'), params|merge({'_locale': 'es'})) }}">
        <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost()~path(app.request.attributes.get('_route'), params|merge({'_locale': 'en'})) }}">
    {% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/ecl/css/base.css') }}">
    {% block stylesheets %}{% endblock %}
        <script src="{{ asset('bundles/vendor/bower_components/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ecl/js/base.js') }}" type="text/javascript"></script>
    {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <div id="content">
        {% include 'ECLDefaultBundle::header.html.twig' %}
        <div id="main_wrapper">
            {% block main %}{% endblock %}
            {% include 'ECLDefaultBundle::sidebar.html.twig' %}
        </div>
        {% block sidebar %}
        {% include 'ECLDefaultBundle::footer.html.twig' %}
        {% endblock %}
        </div>
        <!-- Start of StatCounter Code for Default Guide -->
        <script type="text/javascript">
        var sc_project=8016030; 
        var sc_invisible=1; 
        var sc_security="75229229"; 
        </script>
        <script type="text/javascript"
        src="http://www.statcounter.com/counter/counter.js"></script>
        <!-- End of StatCounter Code for Default Guide -->
        <!-- Start of StatHub Code -->
        <script type="text/javascript">
            var project = 16;
        </script>
        <script type="text/javascript" src="https://www.stathub.org/web/js/counter.js"></script>
        <noscript><img src="http://www.stathub.org/record/insert/" alt="MyStats"></noscript>
        <!-- End of StatHub Code -->
    </body>
</html>
