<header id="main_header_wrapper">
    <button id="display_sidebar_button">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <h1>Eduardo Casas</h1>
    <strong id="subtitle">{{ 'web_developer_header' | trans }}</strong>
    {% if app.environment == 'prod' %}
        {% set params = app.request.requesturi |split('/') %}
        {% set slug, locale = params[2], params[1] %}
    {% else %}
        {% set params = app.request.requesturi | replace({ (app.request.getBaseURL()): '' }) |split('/') %}
        {% set slug, locale = params[2], params[1] %}
    {% endif %}
    <nav id="nav">
        <ul>
            <li id="home_nav">
                {% if slug == '' and status_code is not defined %}
                    <h2>{{ 'section.home.link'|trans }}</h2>
                {% else %}
                    <a href="{{ url('ecl_home_homepage') }}">{{ 'section.home.link'|trans }}</a>
                {% endif %}
            </li>
            <li id="curriculum_nav">
                {% if slug == 'section.curriculum.slug'|trans %}
                    <h2>{{ 'section.curriculum.link'|trans }}</h2>
                {% else %}
                    <a href="{% if locale == 'en' %}{{ url('ecl_curriculum_homepage_en') }}{% else %}{{ url('ecl_curriculum_homepage_es') }}{% endif %}">{{ 'section.curriculum.link'|trans }}</a>
                {% endif %}
            </li>
            <li id="project_nav">
                {% if slug == 'section.project.slug'|trans %}
                    <h2>{{ 'section.project.link'|trans }}</h2>
                {% else %}
                    <a href="{% if locale == 'en' %}{{ url('ecl_project_homepage_en') }}{% else %}{{ url('ecl_project_homepage_es') }}{% endif %}">{{ 'section.project.link'|trans }}</a>
                {% endif %}
            </li>
            <li id="blog_nav">
            {% if slug == 'section.blog.slug'|trans and status_code is not defined  %}
                {% if blog_tag_selected is defined and blog_tag_selected != null %}
                <a href="{{ url('ecl_blog_homepage', { _locale: app.request.locale } ) }}">{{ 'section.blog.link'|trans }}</a> <h2>| {{ blog_tag_selected_name }}</h2>
                {% elseif article is defined %}
                <a href="{{ url('ecl_blog_homepage', { _locale: app.request.locale } ) }}">{{ 'section.blog.link'|trans }}</a> <h2>| {{ 'article.singular'|trans }}</h2>
                {% else %}        
                <h2>{{ 'section.blog.link'|trans }}</h2>
                {% endif %}
            {% else %}
                <a href="{{ url('ecl_blog_homepage', { _locale: app.request.locale } ) }}">{{ 'section.blog.link'|trans }}</a>
            {% endif %}
            </li>
            <li id="contact_nav">
                {% if slug == 'section.contact.slug'|trans and status_code is not defined  %}
                    <h2>{{ 'section.contact.link'|trans }}</h2>
                {% else %}
                    <a href="{% if locale == 'en' %}{{ url('ecl_contact_homepage_en') }}{% else %}{{ url('ecl_contact_homepage_es') }}{% endif %}">{{ 'section.contact.link'|trans }}</a>
                {% endif %}
            </li>
            <li class="separator">
                {% if params[1] == 'es' and status_code is not defined  %}
                    <strong>es</strong>
                {% else %}
                    <a href="{{app.request.uri | replace({'/en/': '/es/'}) }}" title="{{ 'translation.to_spanish'|trans }}">es</a>
                {% endif %}
            </li>
            <li>
                {% if locale == 'en' and status_code is not defined  %}
                    <strong>en</strong>
                {% else %}
                    <a href="{{app.request.uri | replace({'/es/': '/en/'}) }}" title="{{ 'translation.to_english'|trans }}">en</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>