{% extends "ECLDefaultBundle::mobile/base.html.twig" %}
{% block title %}{{ parent() }} | {{ 'section.contact.title'|trans }}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('bundles/eclcontact/css/mobile/main.css')}}">
{% endblock %}
{% block main %}
<article id="main_article_wrapper">
    <h1 id="title">{{ 'contact.title'|trans }}</h1>
    <form action="{{ path('ecl_contact_submit') }}" method="post" id="contact_form">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </fieldset>
        <fieldset>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </fieldset>
        <fieldset>
            {{ form_errors(form.subject) }}
            {{ form_widget(form.subject) }}
        </fieldset>
        <fieldset>
            {{ form_errors(form.message) }}
            {{ form_widget(form.message) }}
        </fieldset>
        <input type="submit" class="submit_button" value="{{ 'button.send'|trans}}">
        {{ form_end(form) }}
    </form>
</article>
{% endblock %}