{% extends "ECLDefaultBundle::backoffice_base.html.twig" %}
{% block title %}{{ parent() }} | Backoffice | Tags | Crear{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/ecl/css/backoffice/tag.css') }}">
{% endblock %}
{% block backoffice_main %}
<article id="main_article_wrapper">
    <h1 id="title">Crear Tag</h1>
    <form action="{{ path('ecl_blog_backoffice_tag_process_create') }}" method="post" id="create_tag_form">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.slug) }}
            {{ form_errors(form.slug) }}
            {{ form_widget(form.slug) }}
        </fieldset>
        <input type="submit" class="submit_button" value="{{ 'button.create'|trans }}">
        {{ form_end(form) }}
    </form>
</article>
{% endblock %}